.wrapper {
    width: 1024px;
    margin: 0 auto;
}
body {
    background: lightgrey;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header,
.content-box {
    background: white;
    box-shadow: 0 0 2px 1px rgb(173, 173, 173);
}
header img {
    width: 100px;
    margin: 5px 0;
    vertical-align: middle;
}
header nav a {
    color: black;
    margin-right: 10px;
}
header nav a:last-child {
    margin-right: 0;
}
.spinner {
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.spinner img {
    position: fixed;
    top: 40vh;
    left: 42vw;
    width: 300px;
}
.content-box {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}
.input-group {
    width: 49%;
    padding-bottom: 10px;
}
.notification {
    width: 100%;
    background-color: red;
    display: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.display {
    display: inline-block;
}
.bg-success {
    background-color: green;
}
.view-book {
    text-align: center;
}
.view-book h2 {
    font-size: 20px;
}
footer {
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
    .input-group {
        width: 100%;
    }
    .navbar {
        flex-wrap: wrap;
    }
    header nav,
    header img {
        width: 100%;
    }
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header nav a {
        padding-bottom: 7px;
    }
    header nav a:first-child {
        padding-top: 5px;
    }
}